body{
    font-family: 'Poppins', sans-serif;
    margin: 0;

}
h1{
    font-size: 40px;
}
.name{
    color: #B36F66;
}
.A{
    display: flex;
    background-image: url(images/top_bg.png);
    background-size: 28%;
    background-repeat: no-repeat;
}
.A-1{
    width: 50%;
    padding-left: 5%;
    padding-top: 5%;
}
.A-1 img{
    width: 75%;
    padding-left: 10%;
}
p{
    color: grey;
}
.button{
    text-decoration: none;
    color: ivory;
    font-weight: 600;
    background-image: linear-gradient(#f3bbb9c2, #CB8F8E);
    padding: 10px 40px;
    border-radius: 15px;
}
.B{
    display: flex;
    background-image: url(images/new_bottom.png);
    background-repeat: no-repeat;
    background-position: right;
}
.B-1{
    width: 50%;
}
.B-1 h3{
    padding-top: 10%;
}
.B-1 p{
    padding-right: 5%;
}
.B-1 img{
    width: 600px;
    padding-left: 5%;
}
.C{
    display: flex;
}
.C-1{
    width: 50% ;
    padding-left: 5%;
}
.C-1 h3{
    padding-top: 10%;
}
.C-1 img{
    width: 450px;
    padding-left: 210px;
}
.D{
    display: flex;
}
.D-1{
    width: 50%;
    padding-left: 5%;
}
.D-1 img{
    width: 450px;
}
.D-1 h3{
    padding-top: 20%;
}
